<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/public/stylesheets/css/master.css">

    <style media="screen">

    </style>

</head>
<body>

    <div id="app">
        <header id="__app-header">
            <div class="swam-wrap">
                <div class="logo">
                    <i class="logo-type"></i>
                </div>
            </div>
        </header>
        <nav id="navigation-bar">
            
        </nav>
        <div id="time--line">
            <div class="course-pub">
                <div class="course-image ml-lm1">
                    <div class="course-title">

                    </div>
                </div>
                <div class="course-content">
                    <h2>
                        Curriculum del mes 1
                    </h2>
                    <ul>
                        <li>
                            <h3>Semana 1: Algebra Lineal</h3>
                            <a href="https://shrink-service.it/s/CM0Hmg">Curso de semana 1</a>
                        </li>
                        <li>
                            <h3>Semana 2: Calculo</h3>
                            <a href="https://shrink-service.it/s/CM0Hmg">Curso de semana 2</a>
                        </li>
                        <li>
                            <h3>Semana 3: Probabilidad</h3>
                            <a href="https://shrink-service.it/s/CM0Hmg">Curso de semana 3</a>
                        </li>
                        <li>
                            <h3>Semana 4: Algoritmos</h3>
                            <a href="https://shrink-service.it/s/CM0Hmg">Curso de semana 4</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-8597845434691410",
        enable_page_level_ads: true
      });
    </script>

</body>
</html>
