<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/public/stylesheets/css/master.css">

    <style media="screen">

    </style>

</head>
<body>

    <div id="app">
        <header id="__app-header">

        </header>
        <div id="time--line">
            <div class="course-pub">
                <div class="course-image">
                    <div class="course-title">

                    </div>
                </div>
                <div class="course-content">
                    <ul>
                        <li>
                            <p>Semana 1: Algebra Lineal</p>
                            <a href="https://shrink-service.it/s/CM0Hmg">Curso de semana 1</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-8597845434691410",
        enable_page_level_ads: true
      });
    </script>

</body>
</html>
