<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="/public/stylesheets/css/master.css">

    <style media="screen">

    </style>

</head>
<body>

    <div id="app">
        <header id="__app-header">
            <div class="swam-wrap">
                <div class="logo">
                    <i class="logo-type"></i>
                </div>
            </div>
        </header>
        <nav id="navigation-bar">

        </nav>
        <div id="time--line">
            <div class="course-pub">
                <div class="course-image ml-lm1">
                    <div class="course-title">

                    </div>
                </div>
                <h2>Requerimientos del curso</h2>
                <p>
                    Ingles: Nivel intermedio hablado (Opcional)
                </p>
                <p>
                    Ingles: Nivel Avanzado comprendido (Recomendado)
                </p>
                <p>
                    Python: Nivel basico-intermedio
                </p>
                <div class="course-content">
                    <h2>
                        Curriculum del mes 1
                    </h2>
                    <ul>
                        <li>
                            <h3>Semana 1: Algebra Lineal</h3>
                            <a href="http://shrink-service.it/s/CM0Hmg">Curso de semana 1</a>
                        </li>
                        <li>
                            <h3>Semana 2: Calculo</h3>
                            <a href="http://shrink-service.it/s/CM0Hmg">Curso de semana 2</a>
                        </li>
                        <li>
                            <h3>Semana 3: Probabilidad</h3>
                            <a href="http://shrink-service.it/s/CM0Hmg">Curso de semana 3</a>
                        </li>
                        <li>
                            <h3>Semana 4: Algoritmos</h3>
                            <a href="http://shrink-service.it/s/CM0Hmg">Curso de semana 4</a>
                        </li>
                    </ul>
                </div>
                <cite>@github ||Sourcell</cite>
            </div>
            <div class="course-pub">
                <div class="course-image ml-lm2">
                    <div class="course-title">

                    </div>
                </div>
                <div class="course-content">
                    <h2>
                        Curriculum del mes 2
                    </h2>
                    <ul>
                        <li>
                            <h3>Semana 1:</h3>
                            <p>1.1 Python para ciencia de datos</p>
                            <a href="http://shrink-service.it/s/nOk71a">Curso de semana 1.1</a>
                            <p>1.2 Matematica de la inteligencia</p>
                            <a href="http://shrink-service.it/s/ooHu7u">Curso de semana 1.2</a>
                            <p>1.3 Introduccion a TensorFlow</p>
                            <a href="http://shrink-service.it/s/2g4Mba">Curso de semana 1.3</a>
                        </li>
                        <li>
                            <h3>Semana 2: Introduccion a ML (Udacity)</h3>
                            <a href="http://shrink-service.it/s/QuVSjJ">Curso de semana 2</a>
                        </li>
                        <li>
                            <h3>Semana 3 y 4: Ideas de proyecto de ML</h3>
                            <a href="http://shrink-service.it/s/ySZgaq">Curso de semana 3</a>
                        </li>
                    </ul>
                </div>
                <cite>@github ||Sourcell</cite>
            </div>


            <div class="course-pub">
                <div class="course-image ml-lm3">
                    <div class="course-title">

                    </div>
                </div>
                <div class="course-content">
                    <h2>
                        Curriculum del mes 3 (Deep Learning)
                    </h2>
                    <ul>
                        <li>
                            <h3>Semana 1: Introduccion a Deep Learning</h3>
                            <a href="http://shrink-service.it/s/pIsvy7">Curso de semana 1.1</a>
                        </li>
                        <li>
                            <h3>Semana 2: Deep Learning por <a href="http://shrink-service.it/s/QpWEGA">Fast.AI</a> </h3>
                            <a href="http://shrink-service.it/s/QpWEGAM0Hmg">Curso de semana 2</a>
                        </li>
                        <li>
                            <h3>Semana 3 y 4: Reimplementando proyectos DL</h3>
                            <a href="http://shrink-service.it/s/AkhPSA">Curso de semana 3</a>
                        </li>
                    </ul>
                </div>
                <cite>@github ||Sourcell</cite>
            </div>

        </div>
    </div>

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-8597845434691410",
        enable_page_level_ads: true
      });
    </script>

</body>
</html>
