@charset "UTF-8";

:root {
    --background-color: #f0f0f0;
}

html {
    font: 500 13px/150% 'Ubuntu', sans-serif;
    letter-spacing: .7px;
    font-smoothing: antialiased;
}

body {
    margin: 0; padding: 0;
    background-color: var(--background-color);
    overflow-x: hidden;
}

*, *::before, *::after {
    box-sizing: border-box;
    user-select: none;
}

@import "00-base/base";
@import "04-forms/forms";
@import "05-components/buttons";
@import "05-components/headers";
@import "05-components/notifications";
@import "07-dashboards/dashboard-index";
@import "10-mediascreen/mediascreen";

.logo-type::before {
    content: url('../../static/anonymous.svg');
    display: inline-block;
}

#app {
    width: 100%;
    height: auto;
    position: relative;
}

div#time--line {
    width: 710px;
    height: auto;
    margin: 0 auto;
    padding: 64px 0;
}


#__app-header {
    width: 100%;
    min-height: 44px;
    max-height: 44px;
    background: map-get($gradient-color-palette, gradient-base-color);
    display: flex;
    justify-content: center;
    align-items: center;
}


nav {
    width: 100%;
    height: 54px;
    background: #ddd;
    position: sticky;
    top: -1;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        padding: 12px 8px;
        border-bottom: 1px dotted #aaa;
        &:last-of-type {
            border: 0;
            margin-bottom: 16px;
        }
        a, p {
            padding-left: 28px;
        }
    }
}



h3 {
    position: relative;
    padding: 0 0 12px 0;
    padding-left: 28px;
    margin: 0;
    line-height: 1;
    &::before {
        position: absolute;
        left: 0;
        content: url('../../static/calendar.svg');
        display: inline-block;
    }
}

.course-pub {
    width: 80%;
    height: auto;
    margin: 0 auto;
    padding: 16px 0;

    h2 {
        padding: 32px 0;
        line-height: 1;
    }
}


.ml-lm1 {
    width: 100%;
    height: 300px;
    background-image: url('../../static/ml-lm1.jpg');
    background-size: cover;
    background-position: center;
}

.ml-lm2 {
    width: 100%;
    height: 300px;
    background-image: url('../../static/ml-lm2.png');
    background-size: cover;
    background-position: center;
}

.ml-lm3 {
    width: 100%;
    height: 300px;
    background-image: url('../../static/ml-lm3.jpg');
    background-size: cover;
    background-position: center;
}


@media screen and (max-width: 540px) {

    #time--line {
        width: 100%;
    }

    .course-pub {
        width: 100%;
        padding-left : 16px;
        padding-right: 16px;
    }

    .ml-lm1, .ml-lm2, .ml-lm3 {
        height: 150px;
    }

}
